torch==2.4.1
torchvision==0.19.1
transformers==4.46.3
diffusers[torch]==0.31.0
matplotlib
pandas
h5py
mrirecon==0.0.2
tensorboard[and-cuda]==2.11
einops==0.8.0
scikit-learn
piq==0.8.0
video-diffusion-pytorch==0.6.3
rotary-embedding-torch==0.3.5
numpy>=2.0